<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script type = "text/javascript" 
			src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
		</script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />		
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
		<link rel="shortcut icon" href="/static/img/disasteerTab.ico">
	</head>
	<body>	
		    
    <div id="wrapper" class="menuDisplayed">
            <!--header-->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" id="menu-toggle">
                                <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
								<img src="/static/img/disasteerLogo.png" alt="Disasteer Logo" height="37" width="37">
                            </a>
                        </li>
                    </ul>

                    <div class="navbar-header">
                        <a class="navbar-brand" href="https://github.com/KiruthikaAdhi/disasteer">
                            <font size="7px" color="#0066ff" face="Impact">DISA</font><font size="7px" color="#00ff99" face="Impact"> STEER</font>
                        </a>
                    </div>

                </div>
            </nav>

            <!--Sidebar-->
            <div id="sidebar-wrapper">
                <br>
				<br>
                <!--<h4>Data</h4>-->
                <div class="sidebar-nav">
                    <!--<li><a href="" class="hvr-bubble-float-right">ACTIVITY</a></li>
                    <li><a href="" class="hvr-bubble-float-right">STRESS</a></li>-->
					<form class="form-horizontal" action=>
						<div class="form-group">
							<label class="control-label col-sm-2" for="From"> FROM</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" 
								id="from" placeholder="Enter location">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="To"> TO</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" 
								id="to" placeholder="Enter location">
							</div>
						</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-9">
								  <button type="button" class="btn btn-success" onclick="findRoute()"><font size="4px" color="##0066ff" face="Impact">Go</font></button>
								</div>
							</div>					
					</form>
					<div id="box">
					</div>
                </div>
            </div>

            <!--page content-->
            <div class="container-fluid" id="page-content-wrapper">
                <div class ="row">
                    <div id="main"class="col-lg-12 tabcontent">
                        <div id="map" align="center" class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=uY2sAmA9jrVWvhapCjahPDW7uKPZQwK9"></script>
	<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=uY2sAmA9jrVWvhapCjahPDW7uKPZQwK9"></script>
	<script>
	//Toggles the sidebar
		$(document).ready(function() {
			$("#menu-toggle").click( function(e){
				e.preventDefault();
				$("#wrapper").toggleClass("menuDisplayed");

			});
		});
		
	//Get linkIDs
		function getLinkIdArr() {
				var linkIdArr = [];
				$.ajax({
				  url: "/getLinkIdArr",
				  method: "GET",
				  async: false,
				  success: function(data) {
					console.log(data);	
					linkIdArr = JSON.parse(data); 
					console.log(linkIdArr);
				  }
				});
				return linkIdArr;		
		}	


		var linkIdArr = getLinkIdArr();
		var avoidLinkIdArr = [];
		for( var i = 0; i < linkIdArr.length; i++){
			console.log(linkIdArr[i]);
			avoidLinkIdArr.push(linkIdArr[i][0]);			
		}
		console.log(avoidLinkIdArr);
		
	//Add base map and overlay map
	
		var prevRoute = null;
		var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2lydXRoaWthLWFkaGkiLCJhIjoiY2puajA1OWdnMHVibDNwb2puZ25zdHludCJ9.JF94TJMvkO29JHonV48HCQ';
		var mapboxAttribution = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a> , Routing &copy <a href="https://www.mapquest.com/">Mapquest</a> , Disaster Images &copy <a href="https://www.digitalglobe.com/opendata/">Digital Globe</a>';
		
		var streets = L.tileLayer(mapboxUrl, {id: 'mapbox.streets', attribution: mapboxAttribution});
		var satellite = L.tileLayer(mapboxUrl, {id: 'mapbox.satellite', attribution: mapboxAttribution});
		
		var imgBounds = [ [29.80986111, -95.09861111], [29.77831667, -95.051111]];
		var preDisaster = L.imageOverlay("/static/img/cvpre.png", imgBounds);
		var postDisaster = L.imageOverlay("/static/img/cvpost.png", imgBounds);
		var damage = L.imageOverlay("/static/img/damage2.png", imgBounds);
		
		
		var map = L.map('map', {
			center: [29.82843, -95.0744],
			zoom: 10,
			layers: streets,
			attributionControl: true
		});
		
		
		var baseMaps = {
			"Streets": streets,
			"Satellite" : satellite

		};

		var overlayMaps = {
			"Post Disaster": postDisaster,
			"Pre Disaster": preDisaster,
			"Damaged Roads": damage
		};
		
		
		L.control.layers(baseMaps, overlayMaps).addTo(map);
		
		
		function getLinkId(latitude,longitude) {
				var linkId = 0;
				console.log("lat " + latitude);
				console.log("long " +longitude);
				$.ajax({
				  url: "http://www.mapquestapi.com/directions/v2/findlinkid",
				  method: "GET",
				  data: { 
					key : 'uY2sAmA9jrVWvhapCjahPDW7uKPZQwK9',
					lat : latitude,
					lng : longitude,		
				  },
				  dataType: "json",
				  async: false,
				  success: function(data) {
					console.log(data['street']);	
					console.log(data['linkId']);
					linkId = data['linkId']; 
				  }
				});
				return linkId;		
		}

		function findRoute(){
			var fromAdr = document.getElementById('from').value;
			var toAdr = document.getElementById('to').value;
			console.log(fromAdr);
			if(fromAdr == ""){
				alert("Enter Location in From");
				return;
			}
			if(toAdr == ""){
				alert("Enter Location in From");
				return;
			}
			
			var fromLatLng = getLatLong(fromAdr);
			var toLatLng = getLatLong(toAdr);
			
			dir = MQ.routing.directions();
			dir.on('success', function(data) {
			
				console.log("SUCESSSSSSS");
				var legs = data.route.legs,
					html = '<ul class="list-group list-group-flush">',
					maneuvers,
					i;

				if (legs && legs.length) {
					maneuvers = legs[0].maneuvers;

					for (i=0; i < maneuvers.length; i++) {
						html += '<li class="list-group-item">';
						html += maneuvers[i].narrative + '';
						html += '</li>';
					}
					html += '</ul>'
					console.log(html);
					document.getElementById("box").innerHTML = html;
				}
			});
			
			dir.on('error', function(data){
			
				document.getElementById("box").innerHTML = '  <div class="alert alert-danger"> There is no safe route between these two locations </div>';
			
						
			});
			dir.route({			
			  maxRoutes: 5,
			  timeOverage: 25,
			  locations: [
				{ latLng: { lat: fromLatLng["lat"], lng: fromLatLng["lng"]} },
				{ latLng: { lat: toLatLng["lat"], lng: toLatLng["lng"]} }
			  ],
			  options : {
				mustAvoidLinkIds : avoidLinkIdArr
			  }
			});				
			routeLayer = MQ.routing.routeLayer({
			  directions: dir,
			  fitBounds: true,
			  
			  ribbonOptions: {
				draggable: false,
				ribbonDisplay: { color: '#5882FA', opacity: 0.7 },
				widths: [ 10, 15, 10, 15, 10, 13, 10, 12, 10, 11, 10, 11, 10, 12, 10, 14, 10 ]
			  },
			  
			    altRibbonOptions: {
					show: true,
					ribbonDisplay: { color: '#F78181', opacity: 0.7},
					hoverDisplay: { color: 'red', opacity: 0.6 }
				  }

			});
			console.log(routeLayer);
			map.addLayer(routeLayer);
			
			if(prevRoute != null){
				console.log("prev is not null");
				console.log(prevRoute);
				map.removeLayer(prevRoute);
			}
			prevRoute = routeLayer;	
					
		}
		
		function getLatLong(addr) {
				console.log(addr);
				var latLong = {};
				$.ajax({
				  url: "http://www.mapquestapi.com/geocoding/v1/address",
				  method: "GET",
				  data: { 
					key : 'uY2sAmA9jrVWvhapCjahPDW7uKPZQwK9',
					location : addr
				  },
				  dataType: "json",
				  async: false,
				  success: function(data) {
					latLong = data["results"][0]["locations"][0]["latLng"];
					console.log(latLong);		
				  }
				});
				return latLong;		
		}
		
	</script>
	</body>
</html>
	
